*{
margin:0;
padding:0;
}
.navbar {
background-color:peru;
color:blue;
padding: 10px;
display:flex;
justify-content:space-between;
align-items:center;
size: 10px; 
}
.navbar-logo {
 font-family: 'Courier New', Courier, monospace;
 font-size:small;
 font-weight:bold;  
}
.navbar-nav {
    list-style:none;
margin:0;
padding:0;

}
.nav-item {
 list-style:none;
 color:brown;
 display: flex;
 padding-left:5px;
}

.nav-link {
    text-decoration: none; 
    list-style:none;
   }
.login-btn{
    background-color:darkblue;
    color:#fff;
    padding: 10px; 
    border: none;
    border-radius: 5px;
}
.nav-img {
    width:100px;
 height:100px;
}
.sign-up-btn{
    background-color:darkblue;
    color:#fff;
    padding: 10px;
    border: none;
    border: radius 5px;
}   
